/* ***** commons ***** */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms_background {
    background-size: cover;
    background-position: top;
}

/* ***** header ***** */

#ms_header-top {
    height: 40px;
    background-color: black;
}


/* ***** jumbo ***** */

#ms_jumbo .ms_background {
    background-image: url("../img/jumbo-bg.png");
}

#ms_jumbo .ms_padding {
    padding-top: 200px;
}


/* ***** main ***** */

#ms_new-games .ms_background {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* ***** footer ***** */


/* +++++ debug ++++++ */

.debug .ms_box {
    height: 50px;
    background-color: tomato;
    border: 1px solid black;
}

.debug #header-bottom {
    height: 80px;
    background-color: blue;
}


/* .debug #ms_jumbo, */
.debug #ms_new-console,
.debug #ms_new-games,
.debug #ms_pre-console,
.debug #ms_ps-plus,
.debug #ms_ps-store,
.debug #ms_ps-now,
.debug #ms_social {
    height: 500px;
}

/* .debug #ms_jumbo {
    background-color: green;
} */


.debug #ms_new-console {
    background-color: grey;
}


/* .debug #ms_new-games {
    background-color: yellow;
} */


.debug #ms_pre-console {
    background-color: brown;
}


.debug #ms_ps-plus {
    background-color: red;
}


.debug #ms_ps-store {
    background-color: cyan;
}


.debug #ms_ps-now {
    background-color: pink;
}


.debug #ms_social {
    background-color: teal;
}


.debug #footer-top {
    height: 400px;
    background-color: violet;
}

.debug #footer-bottom {
    height: 200px;
    background-color: lightsalmon;
}