/* ***** commons ***** */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms_background {
    background-size: cover;
    background-position: top;
}

.ms_dropdown-toggle::after {
    width: 10px;
    display: inline-block;
    margin-left: 0.255em;
    content: url("../img/chevron-down-solid.svg");
    vertical-align: -0.1em;
}

.ms_banner-logo {
    width: 50%;
}

.ms_bg-orange {
    background-color: #CD3D0F;
}

.ms_bg-blue {
    background-color: #2D64E6;
}

.ms_bg-grey {
    background-color: #D9DADC;
}

.ms_bg-white {
    background-color: #fff;
}

.ms_rounded {
    border-radius: 20px;
}

.ms_active {
    border-color: #0172CE !important;
}

.ms_top-text {
    font-size: .4em;
}

.ms_position-reset {
    position: initial;
}
/* ***** header ***** */

#ms_header-top {
    height: 30px;
    background-color: black;
}

#ms_login {
    background-color: #363636;
    max-width: 85px;
}

#ms_search {
    width: 1.5rem;
}

/* ***** jumbo ***** */

#ms_jumbo {
    margin-top: 110px;
}

#ms_jumbo .ms_background {
    background-image: url("../img/jumbo-bg.png");
}

#ms_jumbo .ms_padding {
    padding-top: 200px;
}

/* ***** main ***** */

#ms_new-console p,
#ms_pre-console p,
#ms_ps-store p {
    color: grey;
}


#ms_new-games {
    background-color: #1F1F1F;
}

#ms_new-games .ms_background {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

#ms_ps-plus {
    background-color: #BEBCBB;
}

#ms_ps-now {
    background-color: #161C3B;
}

/* ***** footer ***** */

footer {
    background-color: #00439C;
}

#ms_globe {
    height: 1.2rem;
}

#ms_sie-logo {
    max-width: 130px;
}

/* +++++ debug ++++++ */

.debug .ms_box {
    height: 50px;
    background-color: tomato;
    border: 1px solid black;
}

/* .debug #header-bottom {
    height: 80px;
    background-color: blue;
} */


/* .debug #ms_jumbo, */
/* .debug #ms_new-console, */
/* .debug #ms_new-games, */
/* .debug #ms_pre-console, */
/* .debug #ms_ps-plus, */
/* .debug #ms_ps-store, */
/* .debug #ms_ps-now, */
/* .debug #ms_social {
    height: 500px;
} */

/* .debug #ms_jumbo {
    background-color: green;
} */


/* .debug #ms_new-console {
    background-color: grey;
} */


/* .debug #ms_new-games {
    background-color: yellow;
} */


/* .debug #ms_pre-console {
    background-color: brown;
} */


/* .debug #ms_ps-plus {
    background-color: red;
} */


/* .debug #ms_ps-store {
    background-color: cyan;
} */


/* .debug #ms_ps-now {
    background-color: pink;
} */


/* .debug #ms_social {
    background-color: teal;
} */


/* .debug #ms_footer-top {
    height: 400px;
    background-color: violet;
} */

/* .debug #ms_footer-bottom {
    height: 200px;
    background-color: lightsalmon;
} */